<h2>タスク一覧</h2>
<ul class="list-unstyled">
  <% tasks.each do |task| %>
    <li class="media mb-3">
      <div class="media-body">
        <div>
          <%= link_to task.user.name %> <span class="text-muted">posted at <%= task.created_at %></span>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>タスク</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= link_to task.id, task %></td>
            <td class="mb-0"><%= task.content %></td>
            <td class="mb-0"><%= task.status %></td>
          </tr>
          </tbody>
          </table>
        <div>
          <% if current_user == task.user %>
            <%= link_to "Delete", task, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate @tasks %>
</ul>